version: '3.8'

services:
  php:
    image: php:8.2-fpm
    networks:
      - symfony
    volumes:
      - ./app:/var/www/symfony
      - ./docker/php/conf:/etc/php/

  nginx:
    image: nginx:latest
    ports:
      - "8081:80"
    networks:
      - symfony
    volumes:
      - ./app:/var/www/symfony
      - ./docker/nginx/templates:/etc/nginx/conf.d/
      - ./app/var/cache:/var/www/symfony/public/var/cache
      - ./app/var/log:/var/www/symfony/public/var/log
    working_dir: /var/www/symfony
    depends_on:
      - php

  mysql:
    image: mysql:latest
    environment:
      - "MYSQL_ROOT_PASSWORD=sofiya0505"
      - "MYSQL_DATABASE=symfony1"
    networks:
      - symfony

networks:
  symfony: